<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/foundation.min.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/vendor/custom.modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<nav class="top-bar">
			<ul class="title-area">
				<li class="name">
					<a href="#">
						<img src="img/risiti.png"/>
					</a>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
			</ul>
			<section class="top-bar-section">
				<ul class="right navlinks">
					<li><a href="">Getting Started</a></li>
					<li><a href="">Help</a></li>
					<li><a href="">About</a></li>
				</ul>
			</section>
		</nav>
		<div class="feature-image-container">
			<div class="small-6 small-centered columns panel">
			<div class="row">
				<h3>Expense tracking made easy.</h3>
				<blockquote>
					Sign up today and keep track of where your money goes.
				</blockquote>
			</div>
				<div>
					<form id="signup">
						<div class="row">
							<div class="small-8 small-centered columns">
								<div class="row collapse">
									<div class="small-9 columns">
										<input type="text" id="email_address" placeholder="Email Address">
									</div>
									<div class="small-3 columns">
										<button class="button small">Sign up</label>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
