{% extends "risiti/base.html" %}
{% block content %}
	<form action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
		<div class="row">
			<div class="large-6 large-centered columns">
				<h2>Create a new Account</h2>
				{% for field in form %}
					<div class="row">
						{{ field.errors }}
						{{ field.label_tag }} {{ field }}
					</div>
				{% endfor %}
				<input type="submit" value="Save" class="button secondary small"/>
			</div>
		</div>
	</form>
{% endblock %}
