{% extends "risiti/base.html" %}

{% block content %}
	<div class="row">
		{% if account_list %}
			<h2>Accounts</h2>
			{% for account in account_list %}
				<ul class="card small-2">
					<li><strong>Name:</strong> {{ account.name }}</li>
					<li><strong>Description:</strong> {{ account.description }}</li>
					<li><strong>Account Type:</strong> {{ account.account_type }}</li>
					<li><strong>Amount:</strong> {{ account.amount }}</li>
				</ul>
			{% endfor %}
		{% endif %}
		{% if category_list %}
			<h2>Categories</h2>
			{% for category in category_list %}
				<ul class="card small-2">
					<li><strong>Name:</strong> {{ category.name }}</li>
					<li><strong>Value:</strong> {{ category.value }}</li>
				</ul>
			{% endfor %}
		{% endif %}
		{% if merchant_list %}
			<h2>Merchants</h2>
			{% for merchant in merchant_list %}
				<ul class="card small-2">
					<li><strong>Name:</strong> {{ merchant.name }}</li>
					<li><strong>Description:</strong> {{ merchant.description }}</li>
					<li><strong>Total amount:</strong> {{ merchant.total_amount_debited }}</li>
				</ul>
			{% endfor %}
		{% endif %}
		{% if receipt_text_list %}
			<h2>Receipt Intepretation</h2>
			{% for receipt_text in receipt_text_list %}
				<ul class="card small-6">
					{% if receipt.image %}
						<img src="{{ receipt_text.receipt.image.url }}" />
					{% endif %}
					<li>{{ receipt_text.text }}</li>
					<li class="">
						<dl>
							<dt>Date</dt>
							<dd>{{ receipt_text.receipt.date|date:"jS-M-Y" }}</dd>
							<dt>Description</dt>
							<dd>{{ receipt_text.receipt.description }}</dd>
							<dt>Bought from</dt>
							<dd>{{ receipt_text.receipt.bought_from }}</dd>
							<dt>Amount</dt>
							<dd>Ksh. {{ receipt_text.receipt.price }}</dd>
						</dl>
					</li>
				</ul>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}