{% extends "risiti/base.html" %}
{% load static from staticfiles %}

{% block content %}
	<div class="row">
		<h2>Payments</h2>
			<div class="large-12 columns">
				<a class="small-2 card create big secondary label" href="{% url 'payment_create' %}">
					<div>
						<img src="{% static 'img/dummy-receipt.png' %}">
					</div>
					Add a new payment
				</a>
			{% for payment in payment_list %}
				<div class="small-3 card">
					<div id="image-container">
						{% if payment.image %}
							<img src="{{ payment.image.url }}" />
						{% else %}
							<img src="{% static 'img/dummy-receipt.png' %}">
						{% endif %}
					</div>
					<div>
						<ul class="pricing-table">
								<li class="price">
									Ksh. {{ payment.price }}
								</li>
								<li class="bullet-item">
									Bought on {{ payment.date|date:"jS/M/Y" }}
								</li>
								<li class="bullet-item">
									{{ payment.description }}
								</li>
								<li class="bullet-item">
									{{ payment.bought_from }}
								</li>
						</ul>
					</div>
				</div>
			{% empty %}
				<div class="small-4 small-centered">
					<p>No receipts have been saved yet</p>
				</div>
			{% endfor %}
			</div>
	</div>
{% endblock %}