{% extends "risiti/base.html" %}
{% load static from staticfiles %}

{% block content %}
	<div class="row">
		<h2>Payments</h2>
			<div class="large-12 columns">
			{% for payment in payment_list %}
				<div class="card small-3">
					<div>
						{% if payment.image %}
							<img src="{{ payment.receipt.image.url }}" />
						{% else %}
							<img src="{% static 'img/dummy-receipt.png' %}">
						{% endif %}
					</div>
					<div>
						<table>
							<tr>
								<td><strong>Date:</strong></td>
								<td>{{ payment.date|date:"jS-M-Y" }}</td>
							</tr>
							<tr>
								<td><strong>Account:</strong></td>
								<td>{{ payment.bought_from }}</td>
							</tr>
							<tr>
								<td><strong>Amount:</strong></td>
								<td>Ksh. {{ payment.price }}</td>
							</tr>
							<tr class="description">
								<td><strong>Description:</strong></td>
								<td><p>{{ payment.description }}</p></td>
							</tr>
						</table>
					</div>
				</div>
			{% empty %}
				<div class="small-4 small-centered">
					<p>No receipts have been saved yet</p>
				</div>
			{% endfor %}
			</div>
	</div>
{% endblock %}