{% extends "risiti/base.html" %}
{% load static from staticfiles %}

{% block content %}
	<div class="large-12 columns">
		<div class="">
			<h2>Payments</h2>
			{% for receipt in receipt_list %}
				<div class="card large-3">
					<div class="row">
						<div class="">
							{% if receipt.image %}
								<img class="" src="{{ receipt.image.url }}" />
							{% else %}
								<img src="{% static 'img/dummy-receipt.png' %}">
							{% endif %}
						</div>
						<div class="">
							<dl>
								<dt>Date</dt>
								<dd>{{ receipt.date|date:"jS-M-Y" }}</dd>
								<dt>Description</dt>
								<dd>{{ receipt.description }}</dd>
								<dt>Bought from</dt>
								<dd>{{ receipt.bought_from }}</dd>
								<dt>Amount</dt>
								<dd>Ksh. {{ receipt.price }}</dd>
							</dl>
						</div>
					</div>
				</div>
			{% empty %}
				<div class="small-4 small-centered">
					<p>No receipts have been saved yet</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}