.top-bar {
	background-color: #211a46;
}

.top-bar-section li a:not(.button) {
	background-color: #211a46;   
}

.top-bar-section li a:not(.button):hover {
	background-color: #211a46;
	text-decoration: underline;
}

.feature-image-container {
	background-image: url('../img/receipt_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 680px;
	z-index: -1;
	bottom: 62px;
}

.feature-image-container p{
	text-align: left;
	color: #6f6f6f;
}

.columns.small-centered {
	top: 27%;
}

.feature-image-container form div {
	opacity: 1;
}

button, .button {
	background-color: #2980B9;
	border-color: #2980B9;
}
.button:hover, .button:focus {
	background-color: #3498DB;
}

.card {
	display: inline-block;
	margin: 0 1em 1.25em 0;
	border: 1px solid #ddd;
	padding: 0.625em 0.75em;
	list-style-type: none;
	-moz-box-shadow: 0px 2px 1px #888;
	-webkit-box-shadow: 0px 2px 1px #888;
	box-shadow: 0px 2px 1px #888;
}

.card ul {
	list-style-type: none;
}

.card img {
	margin: 0px auto;
}